@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #151515;
  color: #FFFFFF;
  height: 100%;
}

.r-h {
  height: calc(100vh - 64px);
}

.my-gradient-text {
  background: #0276CF;
  background: linear-gradient(to right, #0276CF 0%, #05CDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
} 